<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Freckle+Face|Rock+Salt|Schoolbell" rel="stylesheet">
</head>
<body>
  
    <header>
        <h1>Async Inn</h1>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="/Hotel">Hotel</a>

                    <ul class="dropdown">
                        <li><a href="/HotelRoom">HotelRoom</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Room">Room</a>
                    <ul class="dropdown">
                        <li><a href="/RoomAmenities">RoomAmenities</a></li>
                    </ul>
                </li>
                    <li><a href="/Amenities">Amenities</a></li>
                </ul>
</div>
    </header>


        <div class="extra">
            @RenderBody()
        </div>
</body>
</html>
